log.*
postProcessing
constant/extendedFeatureEdgeMesh/
constant/polyMesh/
constant/triSurface/
0/
0.orig/
processor*/

system/foForceCoeffs
system/blockMeshDict
system/snappyHexMeshDict
system/surfaceFeatureExtractDict