log.*
postProcessing
nacaFOAM-template/constant/extendedFeatureEdgeMesh/
nacaFOAM-template/constant/polyMesh/
nacaFOAM-template/constant/triSurface/
0/
processor*/

nacaFOAM-template/system/foForceCoeffs
nacaFOAM-template/system/blockMeshDict
nacaFOAM-template/system/snappyHexMeshDict
nacaFOAM-template/system/surfaceFeatureExtractDict

naca0012-mesh-independence-study/
naca0012-validation/

/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/nacaFOAM.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
