log.*
postProcessing
nacaFOAM-template/constant/extendedFeatureEdgeMesh/
nacaFOAM-template/constant/polyMesh/
nacaFOAM-template/constant/triSurface/
0/
processor*/

nacaFOAM-template/system/foForceCoeffs
nacaFOAM-template/system/blockMeshDict
nacaFOAM-template/system/snappyHexMeshDict
nacaFOAM-template/system/surfaceFeatureExtractDict

naca0012-mesh-independence-study/
naca0012-validation/