cffi>=1.15.0
future>=0.18.2
Pillow>=9.1.1
olefile>=0.46
pip>=23.0.1
wheel>=0.37.1
Brotli>=1.0.9
cryptography>=37.0.2
lxml>=4.9.0
keyring>=23.5.1
numpy>=1.22.4
Cython>=0.29.30
setuptools>=62.3.2
pytz>=2022.1
six>=1.16.0
python-dateutil>=2.8.2
matplotlib>=3.5.2
fonttools>=4.33.3
sympy>=1.10.1
reportlab>=3.6.10
ufoLib2>=0.13.1
lz4>=4.0.1
fs>=2.4.16
unicodedata2>=14.0.0
pyparsing>=3.0.9
cycler>=0.11.0
packaging>=21.3
PyGObject>=3.42.1
kiwisolver>=1.4.2
scipy>=1.8.1
psutil>=5.9.1
PyFoam>=2022.9
pandas>=1.4.2
numpy-stl>=3.0.1